body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFFFFF;
    margin: 0;
}

.flag {
    position: relative;
    width: 600px;
    height: 360px;
    background-color: #FFFFFF;
    border: 1px solid #999;
}

.cross {
    position: absolute;
    background-color: #CE1124;
}

.horizontal {
    top: 50%;
    left: 0;
    width: 100%;
    height: 60px;
    transform: translateY(-50%);
}

.vertical {
    top: 0;
    left: 50%;
    width: 60px;
    height: 100%;
    transform: translateX(-50%);
}